<div class="progressBar" *ngIf="carregando">
  <p-progressBar [value]="value"></p-progressBar>
</div>

<div class="container" *ngIf="!acessarDadosTelaManter && !acessarDadosTelaAdmin && !carregando">

  <p-carousel
    [value]="dadosEstabelecimento"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
    class="header">

    <ng-template pTemplate="header" >
      <div class="header-title">
        <div class="button-return">
          <button 
            style="width: 100%;" 
            class="p-button-outlined p-button-danger"
            (click)="voltar()" 
            pButton 
            type="button" 
            icon="pi pi-arrow-left" 
            iconPos="left" 
            label="Voltar">
          </button>
        </div>

        <button 
          *ngIf="dadosUser.status == 'Inativo'"
          [disabled]="botaoBloqueado"
          class="p-button-outlined p-button-warning"
          (click)="ativarConta()" 
          pButton 
          type="button"
          icon="pi pi-user-edit"
          iconPos="left" 
          label="Ativar Conta">
        </button>

        <button 
          *ngIf="dadosUser.status == 'Ativo'"
          [disabled]="botaoBloqueado"
          class="p-button-outlined p-button-warning"
          (click)="desativarConta()" 
          pButton 
          type="button"
          icon="pi pi-user-edit"
          iconPos="left" 
          label="Desativar Conta">
        </button>

        <div class="button-add">
          <button 
            [disabled]="dadosUser.status == 'Inativo'"
            class="p-button-outlined p-button-success"
            (click)="adicionarDados()" 
            pButton 
            type="button" 
            icon="pi pi-plus"
            iconPos="left" 
            label="Adicionar">
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template let-dadosEstabelecimento pTemplate="item">
      <div class="dadosEstabelecimento-item">
        <div class="dadosEstabelecimento-item-content">
          <div>
            <h4 class="p-mb-1 dadosEstabelecimento-name">{{ dadosEstabelecimento.name }}</h4>
            <img class="dadosEstabelecimento-image" [src]="dadosEstabelecimento.image" alt="Minha Imagem" />
            <h4 *ngIf="dadosEstabelecimento.status == 'ATIVO'" class="p-mb-1" style="color: green;">{{ dadosEstabelecimento.status }}</h4>
            <h4 *ngIf="dadosEstabelecimento.status == 'INATIVO'" class="p-mb-1" style="color: gray;">{{ dadosEstabelecimento.status }}</h4>
            <h4 *ngIf="dadosEstabelecimento.status == 'AGUARDANDO ANALISE'" class="p-mb-1" style="color: rgb(202, 202, 3);">{{ dadosEstabelecimento.status }}</h4>
            <h4 *ngIf="dadosEstabelecimento.status == 'REJEITADO'" class="p-mb-1" style="color:red;">{{ dadosEstabelecimento.status }}</h4>
            <h4 *ngIf="dadosEstabelecimento.status == 'EXEMPLO'" class="p-mb-1" style="color:black;">{{ dadosEstabelecimento.status }}</h4>
            <div class="car-buttons p-mt-5">

              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-info-circle"
                class="p-button-rounded p-button-info"
                (click)="detalharDados(dadosEstabelecimento.id)"
                [disabled]="dadosEstabelecimento.status == 'EXEMPLO'"
              ></button>

              <button
                style="margin-left: 1vw;"
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-help"
                (click)="alterarDados(dadosEstabelecimento.id)"
                [disabled]="dadosEstabelecimento.Status == 'AGUARDANDO ANALISE' || dadosEstabelecimento.status == 'EXEMPLO' || dadosUser.status == 'Inativo'"
              ></button>

              <button
                style="margin-left: 1vw;"
                pButton
                pRipple
                type="button"
                [icon]="dadosEstabelecimento.status == 'INATIVO' ? 'pi pi-eye-slash' : 'pi pi-eye'"
                class="p-button-rounded p-button-warning" 
                (click)="showConfirmationDialogItem(dadosEstabelecimento)"
                [disabled]="dadosUser.status == 'Inativo'"
              ></button>

              <button 
                style="margin-left:1vw;" 
                pButton pRipple 
                icon="pi pi-trash" 
                class="p-button-rounded p-button-danger"
                (click)="deletarDados(dadosEstabelecimento)">
              </button>    

            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </p-carousel>

</div>

<div class="container" *ngIf="!acessarDadosTelaManter && acessarDadosTelaAdmin && !carregando">

  <app-menu-admin></app-menu-admin>
  
</div>

<app-menu-manter
  *ngIf="acessarDadosTelaManter"
  [operacao]="operacao"
  [id]="id"
  [userId]="userId"
  [username]="username"
  [desabilitarCamposManter]="desabilitarCamposManter"
  [acessarDadosTelaManter]="acessarDadosTelaManter">
</app-menu-manter>

<p-toast position="top-center"></p-toast>

<p-dialog header="Alteração de Status" [(visible)]="exibirDialogItem" [style]="{width: '50vw'}" [baseZIndex]="10000">
  <p>
     {{message}}
  </p>
  <ng-template pTemplate="footer">
      <p-button *ngIf="dadosItem.status != 'INATIVO'" icon="pi pi-check" (click)="desativarDado()" label="Sim" class="p-button-text"></p-button>
      <p-button *ngIf="dadosItem.status == 'INATIVO'" icon="pi pi-check" (click)="ativarDado()" label="Sim" class="p-button-text"></p-button>
      <p-button icon="pi pi-times" (click)="hideConfirmationDialogItem()" label="Não"></p-button>
  </ng-template>
</p-dialog>