<div class="container" *ngIf="!acessarDadosTelaManter">

  <p-carousel
    [value]="dadosEstabelecimento"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
    class="header">

    <ng-template pTemplate="header" >
      <div class="header-title">
        <div class="title">
          <h3 >Lugares cadastrados</h3>
        </div>
        <div class="button">
          <p-button 
            label="Adicionar" 
            icon="pi pi-plus"
            (onClick)="adicionarDados()">
          </p-button>
        </div>
      </div>
    </ng-template>

    <ng-template let-dadosEstabelecimento pTemplate="item">
      <div class="dadosEstabelecimento-item">
        <div class="dadosEstabelecimento-item-content">
          <div>
            <h4 class="p-mb-1 dadosEstabelecimento-name">{{ dadosEstabelecimento.name }}</h4>
            <img class="dadosEstabelecimento-image" [src]="dadosEstabelecimento.image[0].img" alt="Minha Imagem" />
            <h4 *ngIf="dadosEstabelecimento.Status == 'ATIVO'" class="p-mb-1 dadosEstabelecimento-status" style="color: green;">{{ dadosEstabelecimento.Status }}</h4>
            <h4 *ngIf="dadosEstabelecimento.Status == 'INATIVO'" class="p-mb-1 dadosEstabelecimento-status" style="color: gray;">{{ dadosEstabelecimento.Status }}</h4>
            <h4 *ngIf="dadosEstabelecimento.Status == 'AGUARDANDO ANALISE'" class="p-mb-1 dadosEstabelecimento-status" style="color: rgb(202, 202, 3);">{{ dadosEstabelecimento.Status }}</h4>
            <div class="car-buttons p-mt-5">
              <p-button
                type="button"
                styleClass="p-button p-button-rounded p-mr-2"
                icon="pi pi-info-circle"
                class="padding10"
                (onClick)="detalharDados(dadosEstabelecimento.name)"
              ></p-button>
              <p-button
                type="button"
                styleClass="p-button-help p-button-rounded"
                icon="pi pi-cog"
                class="padding10"
                (onClick)="alterarDados()"
                [disabled]="dadosEstabelecimento.Status == 'AGUARDANDO ANALISE'"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </p-carousel>

</div>

<app-menu-manter
  *ngIf="acessarDadosTelaManter"
  [realizaInclusao]="realizaInclusao"
  [username]="username"
  [nomeEstabelecimento]="nomeEstabelecimento"
  [desabilitarCamposManter]="desabilitarCamposManter"
  [acessarDadosTelaManter]="acessarDadosTelaManter">
</app-menu-manter>


