.dadosEstabelecimento-item {
    
    .dadosEstabelecimento-item-content {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 2rem 0;
        background-color: rgb(221, 216, 216);
    }

    .dadosEstabelecimento-image {
        border-radius: 3px;
        width: 15vw;
        height: 20vh;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}

.padding10 {
    padding: 10px;
}