<div class="container">

    <p-carousel
    [value]="dadosEstabelecimento"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions">

    <ng-template let-dadosEstabelecimento pTemplate="item">
      <div class="dadosEstabelecimento-item">
        <div class="dadosEstabelecimento-item-content">
          <div class="p-mb-3"></div>
          <div>
            <h4 class="p-mb-1">{{ dadosEstabelecimento.name }}</h4>
            <img class="dadosEstabelecimento-image" [src]="dadosEstabelecimento.image" alt="Minha Imagem" />
            <h4 class="p-mb-1">{{ dadosEstabelecimento.Status }}</h4>
            <div class="car-buttons p-mt-5">
              <p-button
                type="button"
                styleClass="p-button p-button-rounded p-mr-2"
                icon="pi pi-search"
                class="padding10"
              ></p-button>
              <p-button
                type="button"
                styleClass="p-button-help p-button-rounded"
                icon="pi pi-cog"
                class="padding10"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </p-carousel>

</div>


