.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 60vh;
  left: 10vw;
  background-color: #fdfdfd;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
}

.login-form .forms{
  flex-direction: column;
  justify-content: right;
}

.logo-form-img{
  height: auto;
  margin:0;  
  width: 50%;
}

.logo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
  right: 10vw;
  background-color: #989898;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 0;
}

.form-group {
  margin-top: 5vh;
}

.inscreva{
 text-align: center;
 cursor: pointer;
}

.inscreva:hover{
  color: #590a0a;
  text-decoration: underline;
}

.col-lg-4 .label Cadastrar {
  margin-left: 80px;
}

.iconRetorno{
  position: absolute;
  top: 10px;
  left: 10px;
}

.iconRetorno:hover{
  color: #989898;
  cursor: pointer;
  text-decoration: underline;
}
