<p-toast (onClose)="limparMensagem()" position="top-center"></p-toast>

<div class="container" *ngIf="acessarDadosTelaManter">

    <div class="header">

        <p-panel header="Dados Gerais" [toggleable]="false">

            <div class="flex">

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            pInputText
                            class="width"
                            [ngStyle]="{'border': dadosEstabelecimento.name ? '' : '1px solid red'}"
                            id="nomeCamposManter" 
                            type="text" 
                            [(ngModel)]="dadosEstabelecimento.name" 
                            [disabled]="desabilitarCamposManter" > 
                            <label [ngStyle]="{'color': dadosEstabelecimento.name ? '' : 'red'}" class="width" for="float-input-invalid">Nome</label>
                    </span>
                </div>
    
                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            pInputText
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.description ? '' : '1px solid red'}"
                            id="descricaoCamposManter"
                            type="text" 
                            [(ngModel)]="dadosEstabelecimento.description"
                            [disabled]="desabilitarCamposManter"> 
                        <label [ngStyle]="{'color': dadosEstabelecimento.description ? '' : 'red'}" class="width" for="float-input">Descrição</label>
                    </span>
                </div>  

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <p-multiSelect 
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.categories.length > 0 ? '' : '1px solid red', 
                            'border-radius': dadosEstabelecimento.categories.length > 0? '' : '6px'}"
                            optionLabel="name"
                            [maxSelectedLabels]="1" 
                            [selectedItemsLabel]="'{1} Opções Selecionadas'"
                            [(ngModel)]="dadosEstabelecimento.categories" 
                            [options]="listaCategorias" 
                            [filter]="true"
                            [disabled]="desabilitarCamposManter">
                        </p-multiSelect>
                        <label [ngStyle]="{'color': dadosEstabelecimento.categories.length > 0 ? '' : 'red'}" class="width" for="multiselect">Categorias</label>
                    </span>
                </div> 

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <p-multiSelect 
                            class="width" 
                            [options]="listaInformacoesBasicas" 
                            optionLabel="name"
                            [maxSelectedLabels]="1" 
                            [selectedItemsLabel]="'{1} Opções Selecionadas'"
                            [(ngModel)]="dadosEstabelecimento.basicInformation" 
                            [filter]="true"
                            [disabled]="desabilitarCamposManter">
                        </p-multiSelect>
                        <label class="width" for="float-input">Informações opcionais</label>
                    </span>
                </div>
                
            </div>

            <div class="flex" *ngIf="dadosEstabelecimento.motive.length > 0">
                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <textarea
                            [rows]="5" 
                            [cols]="30" 
                            [(ngModel)]="dadosEstabelecimento.motive"
                            pInputTextarea 
                            [autoResize]="false"
                            [disabled]="true">
                        </textarea>
                        <label class="width" for="float-input">Motivo da Rejeição</label>
                    </span>
                </div>
            
            </div>

        </p-panel>

        <p-panel header="Imagens" [toggleable]="false">

            <div class="tableedit">
                <h5>Adicione suas imagens</h5>
             
                <p-fileUpload 
                    name="image" 
                    [customUpload]="true"
                    (uploadHandler)="uploadImage($event)" 
                    accept="image/*" 
                    [files]="uploadedFiles"
                    [multiple]="true"
                    [maxFileSize]="1000000"
                    [disabled]="desabilitarCamposManter">
                </p-fileUpload>

                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>

            </div>

        </p-panel>

        <p-panel header="Endereço" [toggleable]="false">

            <div class="flex">

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.street ? '' : '1px solid red'}"
                            id="logradouroCamposManter" 
                            type="text" 
                            [(ngModel)]="dadosEstabelecimento.street" 
                            [disabled]="desabilitarCamposManter" 
                            pInputText> 
                        <label [ngStyle]="{'color': dadosEstabelecimento.street ? '' : 'red'}" class="width" for="float-input">Logradouro</label>
                    </span>
                </div>

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.number ? '' : '1px solid red'}"
                            id="numeroCamposManter" 
                            type="text" 
                            [(ngModel)]="dadosEstabelecimento.number" 
                            [disabled]="desabilitarCamposManter"  
                            pInputText> 
                        <label [ngStyle]="{'color': dadosEstabelecimento.number ? '' : 'red'}" class="width" for="float-input">Número</label>
                    </span>
                </div>  

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.district ? '' : '1px solid red'}"
                            id="float-input" 
                            type="text" 
                            [(ngModel)]="dadosEstabelecimento.district" 
                            [disabled]="desabilitarCamposManter"  
                            pInputText> 
                        <label [ngStyle]="{'color': dadosEstabelecimento.district ? '' : 'red'}" class="width" for="float-input">Bairro</label>
                    </span>
                </div> 

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <p-dropdown 
                            class="width" 
                            [ngStyle]="{'border': selecaoCidadesUF ? '' : '1px solid red', 
                            'border-radius': selecaoCidadesUF ? '' : '6px'}"
                            [options]="listaCidade" 
                            [(ngModel)]="selecaoCidadesUF" 
                            (onChange)="selecionarCidadeUf()"
                            optionLabel="name" 
                            [showClear]="true" 
                            [filter]="true"
                            filterBy="name"
                            filterPlaceholder="Pesquisar..."
                            emptyFilterMessage="Nenhum registro encontrado"
                            [autoDisplayFirst]="false"
                            [disabled]="desabilitarCamposManter" >
                        </p-dropdown>
                        <label [ngStyle]="{'color': selecaoCidadesUF ? '' : 'red'}" class="width" for="float-input">Cidade/UF</label>
                    </span>
                </div> 
               
            </div>

            <div class="flex">

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.zipCode ? '' : '1px solid red'}"
                            id="float-input" 
                            type="text" 
                            [disabled]="desabilitarCamposManter" 
                            [(ngModel)]="dadosEstabelecimento.zipCode" 
                            pInputText> 
                        <label [ngStyle]="{'color': dadosEstabelecimento.zipCode ? '' : 'red'}" class="width" for="float-input">CEP</label>
                    </span>
                </div> 

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            class="width" 
                            id="float-input" 
                            type="text" 
                            [disabled]="desabilitarCamposManter"
                            [(ngModel)]="dadosEstabelecimento.complement"
                            pInputText> 
                        <label class="width" for="float-input">Complemento</label>
                    </span>
                </div> 

            </div>

        </p-panel>

        <p-panel header="Horario de Funcionamento" [toggleable]="false">

            <div class="tableedit">
                <p-table [value]="horarioFuncionamento" dataKey="id" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Dia da Semana</th>
                            <th>Horario de abertura</th>
                            <th>Horario de fechamento</th>
                            <th>Situação</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-horarioFuncionamento>
                        <tr>
                            <td>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input 
                                            type="text"  
                                            [(ngModel)]="horarioFuncionamento.dia"
                                            [disabled]="true"
                                            pInputText>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{horarioFuncionamento.dia}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td *ngIf="!desabilitarCamposManter" pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown 
                                            [options]="listaHorarios"
                                            [(ngModel)]="horarioFuncionamento.horaInicial" 
                                            optionLabel="name"
                                            placeholder="Selecione o Horario de abertura"
                                            [showClear]="true">
                                        </p-dropdown>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{horarioFuncionamento.horaInicial.name}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td *ngIf="!desabilitarCamposManter" pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown 
                                            [options]="listaHorarios"
                                            [(ngModel)]="horarioFuncionamento.horaFinal" 
                                            optionLabel="name"
                                            placeholder="Selecione o Horario de fechamento"
                                            [showClear]="true">
                                        </p-dropdown>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{horarioFuncionamento.horaFinal.name}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td *ngIf="!desabilitarCamposManter" pEditableColumn>
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-dropdown 
                                            [options]="listaSituacao"
                                            [(ngModel)]="horarioFuncionamento.Situacao" 
                                            optionLabel="name"
                                            placeholder="Selecione se estara aberto ou não no dia"
                                            [showClear]="true">
                                        </p-dropdown>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{horarioFuncionamento.Situacao.name}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td *ngIf="desabilitarCamposManter">
                                <p-cellEditor>
                                    <ng-template pTemplate="output">
                                        {{horarioFuncionamento.horaInicial.name}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td *ngIf="desabilitarCamposManter">
                                <p-cellEditor>
                                    <ng-template pTemplate="output">
                                        {{horarioFuncionamento.horaFinal.name}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                            <td *ngIf="desabilitarCamposManter">
                                <p-cellEditor>
                                    <ng-template pTemplate="output">
                                        {{horarioFuncionamento.Situacao.name}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </p-panel>

        <p-panel>
            <div class="car-buttons p-mt-5" style="display: flex;justify-content: space-between;">

                <div *ngIf="operacao == 'admin'">
                    <button 
                        [disabled]=""
                        class="p-button-outlined p-button-success"
                        (click)="aprovar()" 
                        pButton 
                        type="button" 
                        icon="pi pi-check"
                        iconPos="left" 
                        style="margin-right: 1vw;"
                        label="Aprovar">
                    </button>

                    <button 
                        [disabled]=""
                        class="p-button-outlined p-button-danger"
                        (click)="exibirMotivoReprova(true)" 
                        pButton 
                        type="button" 
                        icon="pi pi-check"
                        iconPos="left" 
                        label="Reprovar">
                    </button>
                </div>

                <button 
                    *ngIf="operacao != 'admin'"
                    [disabled]=""
                    class="p-button-outlined p-button-success"
                    (click)="salvar()" 
                    pButton 
                    type="button" 
                    icon="pi pi-check"
                    iconPos="left" 
                    label="Salvar">
                </button>

                <button 
                    class="p-button-outlined p-button-danger"
                    (click)="voltar()"  
                    pButton 
                    type="button" 
                    icon="pi pi-check"
                    iconPos="left" 
                    label="Voltar">
                </button>

            </div>
        </p-panel>
        
    </div>

</div>

<app-menu-inicial
  *ngIf="!acessarDadosTelaManter">
</app-menu-inicial>

<p-dialog header="Motivo de Reprovação" [(visible)]="exibirDialogMotivo">

    <textarea
        [rows]="5" 
        [cols]="30" 
        [(ngModel)]="dadosEstabelecimento.motive"
        pInputTextarea 
        [autoResize]="false">
    </textarea>

    <div class="button-dialog">

        <button 
            [disabled]="dadosEstabelecimento.motive.length == 0"
            class="p-button-outlined p-button-success"
            (click)="reprovar()" 
            pButton 
            type="button" 
            icon="pi pi-check"
            iconPos="left" 
            label="Salvar">
        </button>

        <button 
            class="p-button-outlined p-button-danger"
            (click)="exibirMotivoReprova(false)" 
            pButton 
            type="button" 
            icon="pi pi-check"
            iconPos="left" 
            label="Voltar">
        </button>

    </div>

</p-dialog>