<p-toast (onClose)="limparMensagem()" position="top-center"></p-toast>

<div class="container" *ngIf="acessarDadosTelaManter">

    <div class="header">

        <p-panel header="Dados Gerais" [toggleable]="false">

            <div class="flex">

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            pInputText
                            class="width"
                            [ngStyle]="{'border': dadosEstabelecimento.name ? '' : '1px solid red'}"
                            id="nomeCamposManter" 
                            type="text" 
                            [(ngModel)]="dadosEstabelecimento.name" 
                            [disabled]="desabilitarCamposManter" > 
                            <label [ngStyle]="{'color': dadosEstabelecimento.name ? '' : 'red'}" class="width" for="float-input-invalid">Nome</label>
                    </span>
                </div>
    
                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <textarea 
                            pInputTextarea
                            id="descricaoCamposManter"
                            [rows]="5" 
                            [cols]="30"  
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.description ? '' : '1px solid red'}"
                            [(ngModel)]="dadosEstabelecimento.description"
                            [autoResize]="false"
                            [disabled]="desabilitarCamposManter">
                        </textarea>
                        <label [ngStyle]="{'color': dadosEstabelecimento.description ? '' : 'red'}" class="width" for="float-input">Descrição</label>
                    </span>
                </div>  

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <p-multiSelect 
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.categories.length > 0 ? '' : '1px solid red', 
                            'border-radius': dadosEstabelecimento.categories.length > 0? '' : '6px'}"
                            optionLabel="name"
                            [maxSelectedLabels]="1" 
                            [selectedItemsLabel]="'{1} Opções Selecionadas'"
                            [(ngModel)]="dadosEstabelecimento.categories" 
                            [options]="listaCategorias" 
                            [filter]="true"
                            [disabled]="desabilitarCamposManter">
                        </p-multiSelect>
                        <label [ngStyle]="{'color': dadosEstabelecimento.categories.length > 0 ? '' : 'red'}" class="width" for="multiselect">Categorias</label>
                    </span>
                </div> 

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <p-multiSelect 
                            class="width" 
                            [options]="listaInformacoesBasicas" 
                            optionLabel="name"
                            [maxSelectedLabels]="1" 
                            [selectedItemsLabel]="'{1} Opções Selecionadas'"
                            [(ngModel)]="dadosEstabelecimento.basicInformation" 
                            [filter]="true"
                            [disabled]="desabilitarCamposManter">
                        </p-multiSelect>
                        <label class="width" for="float-input">Informações opcionais</label>
                    </span>
                </div>
                
            </div>

        </p-panel>

        <p-panel header="Imagens" [toggleable]="false">

            <div class="tableedit">
             
                <p-fileUpload 
                    name="image" 
                    [customUpload]="true"
                    (uploadHandler)="uploadImage($event)" 
                    (onRemove)="removefile($event)"
                    accept="image/*" 
                    [multiple]="true"
                    [maxFileSize]="1000000"
                    [auto]="true"
                    [disabled]="desabilitarCamposManter"
                    chooseLabel="Adicionar imagens">                
                </p-fileUpload>  

                <div class="image-content">
                    <div *ngFor="let file of uploadedFiles">
                        <div class="upload-image">
                            <img class="imagens" *ngIf="file.url" [src]="file.url"alt="Imagem">
                            <span *ngIf="!file.url">{{file.name}}</span>
                            <button pButton icon="pi pi-trash" [disabled]="desabilitarCamposManter" (click)="removeImage(file)" class="p-button-danger" *ngIf="file.url"></button>
                        </div>
                    </div>
                </div>

            </div>

        </p-panel>

        <p-panel header="Endereço" [toggleable]="false">

            <div class="flex">

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.street ? '' : '1px solid red'}"
                            id="logradouroCamposManter" 
                            type="text" 
                            [(ngModel)]="dadosEstabelecimento.street" 
                            [disabled]="desabilitarCamposManter" 
                            pInputText> 
                        <label [ngStyle]="{'color': dadosEstabelecimento.street ? '' : 'red'}" class="width" for="float-input">Logradouro</label>
                    </span>
                </div>

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <p-inputNumber 
                            inputId="inputnumber"
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.number ? '' : '1px solid red', 
                            'border-radius': dadosEstabelecimento.number ? '' : '6px'}"
                            id="numeroCamposManter" 
                            type="text" 
                            [(ngModel)]="dadosEstabelecimento.number" 
                            [disabled]="desabilitarCamposManter"  >
                        </p-inputNumber>
                        <label [ngStyle]="{'color': dadosEstabelecimento.number ? '' : 'red'}" class="width" for="inputnumber">Número</label>
                    </span>
                </div>  

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.district ? '' : '1px solid red'}"
                            id="float-input" 
                            type="text" 
                            [(ngModel)]="dadosEstabelecimento.district" 
                            [disabled]="desabilitarCamposManter"  
                            pInputText> 
                        <label [ngStyle]="{'color': dadosEstabelecimento.district ? '' : 'red'}" class="width" for="float-input">Bairro</label>
                    </span>
                </div> 

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <p-dropdown 
                            class="width" 
                            [ngStyle]="{'border': selecaoEstado ? '' : '1px solid red', 
                            'border-radius': selecaoEstado ? '' : '6px'}"
                            [options]="listaEstado" 
                            [(ngModel)]="selecaoEstado" 
                            (onChange)="selecionarEstado()"
                            optionLabel="name" 
                            [showClear]="true" 
                            [filter]="true"
                            filterBy="name"
                            filterPlaceholder="Pesquisar..."
                            emptyFilterMessage="Nenhum registro encontrado"
                            [autoDisplayFirst]="false"
                            [disabled]="desabilitarCamposManter" >
                        </p-dropdown>
                        <label [ngStyle]="{'color': selecaoEstado ? '' : 'red'}" class="width" for="float-input">Estado</label>
                    </span>
                </div> 
               
            </div>

            <div class="flex">

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <p-dropdown 
                            class="width" 
                            [ngStyle]="{'border': selecaoCidade ? '' : '1px solid red', 
                            'border-radius': selecaoCidade ? '' : '6px'}"
                            [options]="listaCidade" 
                            [(ngModel)]="selecaoCidade" 
                            (onChange)="selecionarCidade()"
                            optionLabel="name" 
                            [showClear]="true" 
                            [filter]="true"
                            filterBy="name"
                            filterPlaceholder="Pesquisar..."
                            emptyFilterMessage="Nenhum registro encontrado"
                            [autoDisplayFirst]="false"
                            [disabled]="desabilitarCamposManter || !this.selecaoEstado">
                        </p-dropdown>
                        <label [ngStyle]="{'color': selecaoCidade ? '' : 'red'}" class="width" for="float-input">Cidade</label>
                    </span>
                </div> 

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <p-inputMask 
                            inputId="inputmask" 
                            mask="99999-999" 
                            [maxlength]="9"
                            class="width" 
                            [ngStyle]="{'border': dadosEstabelecimento.zipCode ? '' : '1px solid red', 
                            'border-radius': dadosEstabelecimento.zipCode ? '' : '6px'}"
                            id="float-input" 
                            type="text" 
                            [disabled]="desabilitarCamposManter" 
                            [(ngModel)]="dadosEstabelecimento.zipCode">
                        </p-inputMask>
                        <label [ngStyle]="{'color': dadosEstabelecimento.zipCode ? '' : 'red'}" class="width" for="float-input">CEP</label>
                    </span>
                </div> 

                <div class="col-lg-4 box-comp">
                    <span class="p-float-label">
                        <input 
                            class="width" 
                            id="float-input" 
                            type="text" 
                            [disabled]="desabilitarCamposManter"
                            [(ngModel)]="dadosEstabelecimento.complement"
                            pInputText> 
                        <label class="width" for="float-input">Complemento</label>
                    </span>
                </div> 

            </div>

        </p-panel>

        <p-panel header="Horário de Funcionamento" [toggleable]="false">

            <div class="tableedit">
                <p-table [value]="horarioFuncionamento" dataKey="id" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Dia da Semana</th>
                            <th>Horário de abertura</th>
                            <th>Horário de fechamento</th>
                            <th>Situação</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-horarioFuncionamento>
                        <tr>
                            <td>{{horarioFuncionamento.dia}}</td>

                            <td>{{horarioFuncionamento.horaInicial}}</td>

                            <td>{{horarioFuncionamento.horaFinal}}</td>

                            <td>{{horarioFuncionamento.Situacao}}</td>

                            <td>
                                <button 
                                    pButton 
                                    pRipple 
                                    icon="pi pi-pencil" 
                                    class="p-button-rounded p-button-success p-mr-2" 
                                    (click)="editarHorario(horarioFuncionamento)"
                                    [disabled]="desabilitarCamposManter">
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </p-panel>

        <p-panel>
            <div class="car-buttons p-mt-5" style="display: flex;justify-content: space-between;">

                <div *ngIf="operacao == 'admin'">
                    <button 
                        [disabled]=""
                        class="p-button-outlined p-button-success"
                        (click)="aprovar()" 
                        pButton 
                        type="button" 
                        icon="pi pi-check"
                        iconPos="left" 
                        style="margin-right: 1vw;"
                        label="Aprovar">
                    </button>

                    <button 
                        [disabled]=""
                        class="p-button-outlined p-button-danger"
                        (click)="exibirMotivoReprova(true)" 
                        pButton 
                        type="button" 
                        icon="pi pi-check"
                        iconPos="left" 
                        label="Reprovar">
                    </button>
                </div>

                <button 
                    *ngIf="operacao != 'admin'"
                    [disabled]="desabilitarCamposManter || botaoBloqueado"
                    class="p-button-outlined p-button-success"
                    (click)="salvar()" 
                    pButton 
                    type="button" 
                    icon="pi pi-check"
                    iconPos="left" 
                    label="Salvar">
                </button>

                <button 
                    class="p-button-outlined p-button-danger"
                    (click)="voltar()"  
                    pButton 
                    type="button" 
                    icon="pi pi-check"
                    iconPos="left" 
                    label="Voltar">
                </button>

            </div>
        </p-panel>
        
    </div>

</div>

<app-menu-inicial
  *ngIf="!acessarDadosTelaManter">
</app-menu-inicial>

<p-dialog header="Motivo de Reprovação" [(visible)]="exibirDialogMotivo">

    <textarea
        [rows]="5" 
        [cols]="30" 
        [(ngModel)]="dadosEstabelecimento.motive"
        pInputTextarea 
        [autoResize]="false">
    </textarea>

    <div class="button-dialog">

        <button 
            [disabled]="dadosEstabelecimento.motive.length == 0"
            class="p-button-outlined p-button-success"
            (click)="reprovar()" 
            pButton 
            type="button" 
            icon="pi pi-check"
            iconPos="left" 
            label="Salvar">
        </button>

        <button 
            class="p-button-outlined p-button-danger"
            (click)="exibirMotivoReprova(false)" 
            pButton 
            type="button" 
            icon="pi pi-check"
            iconPos="left" 
            label="Voltar">
        </button>

    </div>

</p-dialog>

<p-dialog header="Editar Horário" [(visible)]="exibirDialogHorarioFuncionamento" class="dialog-horario" [blockScroll]="true">

    <input 
        class="width" 
        type="text" 
        [(ngModel)]="selecaoHorarioFuncionamento.dia" 
        pInputText
        [disabled]="true">

    <p-inputMask 
        [disabled]="!selecaoSituacao"
        inputId="inputmask" 
        mask="99:99" 
        [maxlength]="5"
        placeholder="00:00"
        class="width" 
        id="float-input" 
        type="text" 
        [(ngModel)]="selecaoHorarioFuncionamento.horaInicial">
    </p-inputMask>

    <p-inputMask 
        [disabled]="!selecaoSituacao"
        inputId="inputmask" 
        mask="99:99" 
        [maxlength]="5"
        placeholder="00:00"
        class="width" 
        id="float-input" 
        type="text" 
        [(ngModel)]="selecaoHorarioFuncionamento.horaFinal">
    </p-inputMask>

    <p-toggleButton 
        onLabel="Aberto" 
        offLabel="Fechado" 
        [onIcon]="cssCheck" 
        offIcon="pi pi-times" 
        iconPos="right" 
        [(ngModel)]="selecaoSituacao"
        (onChange)="selecionarSituacao(selecaoSituacao)">
    </p-toggleButton>

    <div class="button-dialog">

        <button 
            class="p-button-outlined p-button-success"
            (click)="salvarHorario(selecaoHorarioFuncionamento)" 
            pButton 
            type="button" 
            iconPos="left" 
            label="Atualizar">
        </button>

    </div>

</p-dialog>