.header{
    background: white;
    width: 80vw !important; 
    height: 80vh !important; 
    border-radius: 10px;
}

.box-comp {
    float: left;
    position: relative;
}

.col-lg-4{
    width: 25% !important; 
    padding: 1rem;
}

.range{
    display: flex;
    flex-direction: row;
    .width-range{
        width: 50% !important; 
    }
}

.tableedit{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.invalid-border {
    border: 2px solid red;
}

.button-dialog{
    display: flex;
    justify-content: space-between;
}

.image-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upload-image{
    display: grid;
    justify-items: center;
}

.upload-image img {
    border-radius: 10px;
    margin: 1vw;
    width: 10vw;
    height: 15vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
  